.customform input[type="submit"] {
    color: #ffffff;
	background: none repeat scroll 0 0 rgb(0, 30, 34);
	border-radius: 5px;
	transition: background 0.20s linear 0s;
	-o-transition: background 0.20s linear 0s;
	-ms-transition: background 0.20s linear 0s;
	-moz-transition: background 0.20s linear 0s;
	-webkit-transition: background 0.20s linear 0s;
}
.customform input[type="submit"]:hover {
     color: #ffffff;
	background: none repeat scroll 0 0 #2fcbe0;
    cursor: pointer;
}

.customform input[type="submit"]:focus {
     color: #ffffff;
	background: none repeat scroll 0 0 #2fcbe0;
    cursor: pointer;
}


.promoContentLogin img{

    max-width : 250px;            
}